@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #0B0E14;
  --foreground: #ffffff;
}

html,
body {
  background-color: #0B0E14 !important;
  color: #ffffff !important;
  min-height: 100vh;
}